<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DesignPattenOfObjC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DFAD2AE81E569C5F00044692</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFAD2B011E569C5F00044692</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFAD2B0C1E569C5F00044692</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
